*{ margin: 0; padding: 0;}

html, body{
    width: 100%;
    height: 100%;
}

body{ font-family: arial, sans-serif; font-size: 16px; background-color: black; color: white; }

a{ text-decoration: none; color: cornflowerblue; }

input{ width: 300px; height: 35px; font-weight: bold; font-size: 25px; border-radius: 7px; }

p{ margin-top: 10px; margin-bottom: 10px; }

#main{ width: 600px; margin-left: auto; margin-right: auto; font-size: 20px; }

#recover_passwd_content{ margin-top: 125px; }

h3{ margin: 20px; }